* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
   cursor: pointer; 
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
    height: 100vh;
}


header {
    grid-area: header;
    background: #a9c52f;
    color: black;
    border-left: 3px solid white;
}

.header-title {
    width: fit-content;
    margin: 0px auto;
    padding: 30px 0 40px;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    background-color: #2c5d63;
    justify-content:flex-start;
    color: #f5f5f5;
}

.sidebar-title {
    width: fit-content;
    margin: 50px auto;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects button {
    border: none;
    border-radius: 3px;
    padding: 7px 10px;
}

.projects .delete-project-btn {
    border: none;
    border-radius: 3px;
    padding: 4px 5px;
    margin-right: 10px;
}

.new-project-btn {
    width: 150px;
    margin: 0 auto;
    height: 30px;
    background-color: #f5f5f5;
    border-radius: 2px;
    border: 2px solid rgba(106, 85, 85, 0);
}

.new-project-btn:hover {
    border-color: white;
}

.project {
    display: flex;
    border: 4px solid rgba(179, 174, 174, 0);
    height: 40px;
}

.project:hover {
    cursor: pointer;
}

.highlight-project {
    border-left-color: white;
    border-right-color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.project-name {
    flex-grow: 1;
    border: none;
    border-radius: 3px;
    background-color: rgba(179, 174, 174, 0);
    margin-left: 40px;
    padding: 7px 10px;
}

.create-todo-btn-default {
    margin-right: 50px;
}

.create-todo-btn {
    margin-right: 15px;
}

dialog {
    border: none;
    border-radius: 8px;
    margin: auto auto;
    width: 400px;
}

.main-content {
    grid-area: main-content;
    overflow-y: auto; /* adds a scrollbar if content overflows */
    border-left: 3px solid white; 
    border-top: 3px solid white;
    background-color: #283739;
}

.todo-column-names {
    position: sticky;
    top: 0;
    display: flex;
    /* justify-content: space-between; */
    gap: 150px;
    background-color: #1b484e;
    color: rgb(153, 153, 153);
}

.todo-column-names .col-title {
    padding-left: 30px;
    padding-right: 95px;
}

.todo-column-names .col-desc,
.todo-column-names .col-due-date {
    padding-left: 30px;
}

.todo-column-names .col-priority {
    padding-left: 10px;
}

.todos-content {
    color: white;
    padding: 20px 30px;
}

.todo-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 5px;
    border: 2px solid rgba(106, 85, 85, 0);
    /* margin: 20px; */
    /* padding: 10px 10px; */
    /* border-bottom-color: white; */
}

/* .todo-card:hover {
    border-color: white;
} */

.todo-card .title {
    width: 150px;
}

.todo-card .desc {
    width: 100px;
    overflow-x: hidden;
}

.edit-todo-btn {
    height: 28px;
    border: none;
    border-radius: 3px;
    padding: 4px 5px;
}

.delete-todo-btn {
    height: 30px;
    border: none;
    border-radius: 3px;
    padding: 4px 5px;
}

/* .first-color { 
	background: #283739; 
}
	
.second-color { 
	background: #2c5d63; 
}

.third-color { 
	background: #a9c52f; 
}

.fourth-color { 
	background: #f5f5f5; 
} */


/* .first-color { 
	background: #e1eacd; 
}
	
.second-color { 
	background: #bad8b6; 
}

.third-color { 
	background: #61b390; 
}

.fourth-color { 
	background: #01352c; 
} */