:root {
    --todo-content-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
   cursor: pointer; 
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
    height: 100vh;
}


header {
    grid-area: header;
    background: #a9c52f;
    color: black;
    border-left: 3px solid white;
}

.header-title {
    width: fit-content;
    margin: 0px auto;
    padding: 30px 0 40px;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    background-color: #2c5d63;
    justify-content:flex-start;
    color: #f5f5f5;
}

.sidebar-title {
    width: fit-content;
    margin: 50px auto;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects button {
    border: none;
    border-radius: 3px;
    padding: 7px 10px;
}

.projects .delete-project-btn {
    border: none;
    border-radius: 3px;
    padding: 4px 5px;
    margin-right: 10px;
}

.new-project-btn {
    width: 150px;
    margin: 0 auto;
    height: 30px;
    background-color: #f5f5f5;
    border-radius: 2px;
    border: 2px solid rgba(106, 85, 85, 0);
}

.new-project-btn:hover {
    border-color: white;
}

.project {
    display: flex;
    border: 4px solid rgba(179, 174, 174, 0);
    height: 40px;
}

.project:hover {
    cursor: pointer;
}

.highlight-project {
    border-left-color: white;
    border-right-color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.project-name {
    flex-grow: 1;
    border: none;
    border-radius: 3px;
    background-color: rgba(179, 174, 174, 0);
    margin-left: 40px;
    padding: 7px 10px;
}

.create-todo-btn-default {
    margin-right: 50px;
}

.create-todo-btn {
    margin-right: 15px;
}

dialog {
    border: none;
    border-radius: 8px;
    margin: auto auto;
    width: 400px;
}

.main-content {
    grid-area: main-content;
    overflow-y: auto; /* adds a scrollbar if content overflows */
    border-left: 3px solid white; 
    border-top: 3px solid white;
    background-color: #283739;
}

.todo-column-names {
    position: sticky;
    top: 0;
    display: flex;
    background-color: #1b484e;
    color: rgb(153, 153, 153);
}

.todo-column-names .col-title {
    margin-left: 95px;
}

.todo-column-names .col-desc {
    margin-left: 240px;
}

.todo-column-names .col-due-date {
    margin-left: 290px;
}

.todo-column-names .col-priority {
    margin-left: 80px;

}

.todos-content {
    color: var(--todo-content-color);
    padding: 20px 30px;
}

.todo-card {
    display: flex;
    align-items: center;
    height: 80px;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid rgba(106, 85, 85, 0);
    position: relative;
}

.todo-card .todo-checkbox {
    margin-left: 20px;
}

.todo-card .title {
    width: 250px;
    margin-left: 10px;
}

.todo-card .desc {
    width: 300px;
    max-height: 58px; 
    overflow: hidden;
    /* gets hidden after max-height reached, specific because 
    `align-items:center' makes setting height difficult as it 
    removes the centering effect when custom height is set */
}

.todo-card .display-desc {
    width: 500px;
    height: 200px;
    background-color: white;
    border-radius: 4px;
    color: black;
    position: fixed;
    z-index: 1;
    left: 960px;
    padding: 20px;
}

.todo-card .due-date {
    width: 80px;
    margin-left: 40px;
}

.todo-card .priority {
    width: 50px;
    margin-left: 50px;
}

.edit-todo-btn {
    height: 28px;
    border: none;
    border-radius: 3px;
    padding: 4px 5px;
    margin-left: 20px;
}

.delete-todo-btn {
    height: 30px;
    border: none;
    border-radius: 3px;
    padding: 4px 5px;
    margin-left: 20px;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    font-size: 14px;
    border: 0.12em solid var(--todo-content-color);
    border-radius: 0.3em;
}

input[type="checkbox"]::after {
    position: absolute;
    left: 3px;
    top: 2px;
    width: 12px;
    height: 12px;
    content: "";
    box-shadow: inset 1em 1em rgb(19, 159, 19);
    transform: scale(0);
    transition: 100ms transform ease-in-out;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);  
}

input[type="checkbox"]:checked {
    border: 0.12em solid rgb(19, 159, 19);
}

input[type="checkbox"]:checked::after {
    transform: scale(1);
}